body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* nav start */
.parent{
    height: 80px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: sticky; */
    top: 0px;
    z-index: 1;
    border-bottom: 0.1px solid gray;
}

.parent img{
    height: 70px;
    width: 120px;
    margin-top: 10px;
}

.parent ul{
    color:black;
    list-style: none;
    display: flex;
    gap: 80px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-right: 50px;
    font-weight: 550;
}

.parent ul li a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}


.parent button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height:40px;
    width: 140px;
    border: 1px solid #F5F5DC;
    background-color: #e16408;
    color: white;
    margin-right:20px;
    cursor: pointer;
    transition: all 3s ease;
    border-radius:30px
    
}

.parent ul li a:hover{
    text-decoration: underline;
}

.parent button a{
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

/* nav end */

 /* Booking css-s  */
.demo{
    height: 500px;
    width: 100%;
    display: flex;
}

.demotext{
    width: 50%;
    /* background-color: aqua; */
    height: 100%;
   
}

.demoimg img{
height: 100%;
width: 100%;
background-size:cover
}

.demotext1{
    height:80%;
    width:80%;
    background-color: white;
    padding-top:5% ;
    padding-left: 10%;
    text-align: center;
    padding: 7.5%;
}

.demotext1 h1{
    font-size: 39.6px;
    font-weight: 600;
}

.demotext1 p{
    font-size: 28px;
    padding-top: 5px;
}

.demotext1 button{
    height: 60px;
    width: 180px;
    font-size: 18px;
    background-color: #e16408;
    border-radius: 10px;
    border: none;
    margin-top: 28px;
}

.demotext1 button a{
    text-decoration: none;
    color: rgb(0, 0, 0,0.8);
}
 /* Booking css-e  */


 /* Test css-s */
.testsmain{
    height: 650px;
    width: 100%;
    background-color:white;
}

.teststext h1{
font-size: 40px;
color: #e16408;
}

.teststext p{
    font-size: 22px;
    color: #000000;
    font-weight: 400;
}

.teststext{
    margin-left: 6%;
    margin-right: 6%;
}

.swiper {
      width: 86%;
      height: 450px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background:transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(0, 0, 0,0.2);
      border-radius: 10px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swipertext img{
     height: 200px;
     width: 90%;
     margin-left: 5%;
     margin-top: 5%;
     border-radius: 15px;
    }

    .swipertext h1{
        font-size: 25px;
        color: #333333;
    }

    .swipertext p{
        font-size: 20px;
        color: #e97451;
    }

    .swipertext button a{
        text-decoration: none;
        color: #000000;
        font-size: 20px;
    }

    .swipertext button{
        height: 40px;
        width: 150px;
        background-color: #e16408;
        border: none;
        border-radius:50px;
    }

    #time{
        color: #000000;
    }

/* Test css-e */
 
/* Scrolltext css-s */
.scrolltext{
    height: 450px;
    width: 100%;
    background-color: white;
    display: flex;
}

.groupimg img{
    height: 300px;
    /* width: 100%; */
    margin-top: 75px;
    margin-right: 50px;
}

.scrolltext1{
    height:100%;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

.scrolltext1 h1{
    font-size: 35px;
    color: #e16408;
}

.scrolltext1 p{
    font-size: 20px;
    color: #676565;
}

.icons{
    height: 200px;
    width: 100%;
    /* background-color: #333333; */
    margin-top: 30px;
}

.icons1{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    /* background-color: #F5F5DC; */
    display: flex;
    justify-content: space-between;
}

.iconsimg1{
background-color:white;
width: 30%;
/* border: 1px solid black; */
text-align: center;
}

.iconsimg1 h1{
    color: #333333;
    font-size: 30px;
    font-weight: 700;
}
/* Scrolltext css-e */


/* Book LAb Test css-s */
.booktest{
    height: 500px;
    width: 100%;
    background-color: white;
}
.booktest1{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    background-color: white;
}

.bookcardmain{
    height: 80%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.bookcard{
    height: 100%;
    border: 1px solid black;
    width:30%;
    text-align: center;
    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:25px;
}

.bookcard img{
    height: 180px;
}

.bookcard h2{
 font-size:30px;
 color: #e16408;
}

.bookcard p{
    font-size: 20px;
    color: #333333;
}

.bookcard button{
    height: 40px;
    width: 140px;
    background-color: #e16408;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
}

.bookcard button a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.booktest1 h1{
    font-size: 38px;
    color: #e16408;
    font-weight: 600;
}

/* Book LAb Test css-s */


/* footer css */
.footer{
    /* height: 350px; */
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-top:1px solid rgb(0, 0, 0,0.4) ;
}

.footerlogo img{
    /* height: 200px; */
    width: 200px;
}

.footericon i{
    color: #e97451;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 15px;
}

.footericon i:hover{
    transform: scale(1.4);
   padding-top: 3px;
}



.quicklinks ul li{
  text-decoration: none;
  list-style: none;
  color: #333333;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.quicklinks p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #F5F5DC;
    margin-top: 48px;
}

.quicklinks{
    padding-bottom: 60px;
}

.enquire p{
    font-size: 24px;
    color: #F5F5DC;
    font-family: "Raleway", sans-serif;
}

.quicklinks ul li a{
    text-decoration: none;
    color:#F5F5DC;
    font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
}

.enquire button{
    width: 180px;
    height: 40px;
    background-color: transparent;
    color: #F5F5DC;
    border: 1px solid #F5F5DC;
    font-size: 15px;
    cursor: pointer;
    transition: all 3s ease;
}

.enquire button:hover{
    background-color: #e97451;
    color: #1a1a1a;
    border: 1px solid #F5F5DC;
}

  .enquireform{
    height: 30px;
    width: 200px;
}

.enquire button{
    width:180px;
    background-color: #e16408;
    border: 1px solid #F5F5DC;
    color: black;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    /* height: 40px; */
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    transition: all 3s ease;
}

.enquire{
    margin-top: -15px;
}

.copyright{
    height: 60px;
    background-color:#e16408;
    border-top:1px solid rgb(0, 0, 0,0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #F5F5DC;
}

.footerimg{
    height: 120px;
    width: 100%;
    background-color:white;
}

.footerimgmain{
    height: 100%;
    width: 84%;
    margin-left:8%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#img6{
    margin-left: 50px;
}

#img1{
    height: 100px;
    width: 120px;
     margin-top: 20px;
}

#img4{
    width:300px;
    height: 120px;
}

/* footercss-end */